@tailwind base; 
@tailwind components; 
@tailwind utilities; 

/* Global site styles */
body { 
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
}

/* Global blog post styles */ 
.markdown h1 { @apply font-bold text-5xl mb-8; }
.markdown h2 { @apply font-bold text-4xl mb-2; }
.markdown h3 { @apply font-bold text-3xl mb-2; }
.markdown h4 { @apply font-bold text-2xl mb-2; }
.markdown h5 { @apply font-bold text-xl mb-2; }
.markdown h6 { @apply font-semibold; }
.markdown p { @apply text-xl mb-8 font-serif; }
.markdown pre { @apply mb-8 p-2; }
.markdown ul { @apply mb-8 list-disc text-xl font-serif;}
.markdown ol { @apply mb-8 list-decimal text-xl font-serif;}
.markdown ul li p { @apply mb-0;}
.markdown blockquote { @apply pl-4 pt-4 pb-1 mb-8 bg-orange-200 text-orange-900 font-serif; }
.markdown a { @apply underline text-purple-700; }
.markdown a:visited { @apply text-purple-900; }
.markdown a:hover { @apply cursor-pointer; }
.markdown img { @apply ml-auto mr-auto mb-8 shadow-lg; }

